<%
h = t ".title_home"
provide(:title,h)
%>
<h1><%= t ".h1" %></h1>
<h1><%= t ".sample_app" %></h1>
<p>
  <%= t ".des" %>
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  <%= t ".des2" %>
</p>


